{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ current_url }}" />
  <meta property="og:image" content="{{ get_url(path='img/wheat.svg') }}" />

  {% block head %}
  {{ macros::title_and_description(title="", description="personal page") }}
  {% endblock %}

  <link rel="icon" href="{{ get_url(path='img/wheat.svg') }}" type="image/x-icon"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ get_url(path='custom.css') }}"/>
</head>

<body>
  <section class="section">
    <div class="container p-4">
      {% include "header.html" %}
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

<script type="text/javascript" src="{{ get_url(path='script/bootstrap.min.js') }}"></script>
</html>
