{% extends "base.html" %}


{% block head %}
{{ macros::title_and_description(title=page.title, description=page.description | default(value="")) }}
{% endblock %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
{{ page.content | safe }}

<footer class="mx-auto align-items-center my-4 py-4 border-top">
  <p class="text-body-secondary text-decoration-none lh-1 small">
    Powered by
    <a href="https://getbootstrap.com/" class="text-body-secondary text-decoration-none">
      <i class="bi-bootstrap"></i>
    </a>,
    <a href="https://github.com/marekpsenka/rust-moravia.cz" class="text-body-secondary text-decoration-none">
      <i class="bi-github"></i>
    </a>
    and <a href="https://getzola.org" class="text-body-secondary text-decoration-none">Zola</a>.
    {{ now() | date(format="%Y") }}
  </p>
</footer>
{% endblock content %}
