<header class="mb-4">
  <nav class="d-flex flex-row justify-content-between flex-wrap">
    <div>
      <img
        alt="Cereal ear glyph"
        src="{{ get_url(path='img/wheat.svg') }}"
        class="root-img"
      >
      <a href="{{ config.base_url }}" class="root-link">pšenka kvete</a>
      <a href="https://github.com/marekpsenka"><i class="bi-github"></i></a>
      <a href="https://www.linkedin.com/in/marek-psenka/"><i class="bi-linkedin"></i></a>
    </div>
    <div>
      <img alt="Cereal ear glyph" src="{{ get_url(path='img/wheat.svg') }}">
      <a href="{{ get_url(path='@/blog/_index.md') }}">posts</a>
      <img alt="Cereal ear glyph" src="{{ get_url(path='img/wheat.svg') }}">
      <a href="{{ get_url(path='@/grains.md') }}">grains</a>
    </div>
  </nav>
</header>