<header class="my-4">
  <nav class="d-flex flex-row justify-content-between flex-wrap">
    <div>
      <img src="{{ get_url(path='img/wheat-svgrepo-com.svg') }}">
      <a href="{{ config.base_url}} ">pšenka kvete</a>
      <a href="https://github.com/marekpsenka"><img class="social ms-1" src="{{ get_url(path='img/github-mark.svg') }}"/></a>
      <a href="https://www.linkedin.com/in/marek-psenka/"><img class="social ms-1" src="{{ get_url(path='img/linkedin.svg') }}"/></a>
    </div>
    <div>
      <img src="{{ get_url(path='img/wheat-svgrepo-com.svg') }}"/>
      <a href="{{ get_url(path='@/blog/_index.md') }}">posts</a>
      <img src="{{ get_url(path='img/wheat-svgrepo-com.svg') }}"/>
      <a href="{{ get_url(path='@/grains/_index.md') }}">grains</a>
    </div>
  </nav>
</header>