<header>
  <div class="d-flex flex-row justify-content-between flex-wrap">
    <div>
      <img src="{{ get_url(path='wheat-svgrepo-com.svg') }}">
      <a href="{{ config.base_url}} ">pšenka kvete</a>
      <a href="https://github.com/marekpsenka"><img src="{{ get_url(path='github-mark.svg') }}"/></a>
      <a href="https://www.linkedin.com/in/marek-psenka/"><img src="{{ get_url(path='linkedin.svg') }}"/></a>
    </div>
    <div>
      <nav>
        <img src="{{ get_url(path='wheat-svgrepo-com.svg') }}"/>
        <a href="{{ get_url(path='@/blog/_index.md') }}">posts</a>
        <img src="{{ get_url(path='wheat-svgrepo-com.svg') }}"/>
        <a href="{{ get_url(path='@/grains/_index.md') }}">grains</a>
      </nav>
    </div>
  </div>
</header>