{% extends "base.html" %}

{% block content %}

<p>Hello hello hello</p>

<p class="text-body-secondary text-decoration-none lh-1 small">
  Powered by
  <a href="https://getbootstrap.com/" class="text-body-secondary text-decoration-none">
    <i class="bi-bootstrap"></i>
  </a>,
  <a href="https://github.com/marekpsenka/rust-moravia.cz" class="text-body-secondary text-decoration-none">
    <i class="bi-github"></i>
  </a>
  and <a href="https://getzola.org" class="text-body-secondary text-decoration-none">Zola</a>.
</p>

{% endblock content %}
